<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coments</title>
</head>
<body>

    <form name="coment" method="post" >
        <h1>COMENTA AI MEO NOBRE</h1>

        {% csrf_token %}
        {{form.comentario}}
        <br>

        <input type="submit" value="Comentar">

    </form>

<br> ------------------------------------------ <br><br>
<b> ---seus comentarios--- <b>

    {% for c in history %}
    
    <br>{{c.comentario}} -- {{c.usuario.usuario}} <a href="{% url 'edit_coment' c.id %}">[EDITAR]</a>

    {% endfor %}

{% endif %}


</body>
</html>